<div local-class="container">
  <div local-class="jigsaw-container">
    <div local-class="objects">
      <ul local-class="">
        <ul local-class="jigsaw-object-list">
          {{#each this.model.objectList as  |objectItem|}}
            {{#draggable-object content=(hash item=objectItem type='a')}}
              <Jigsaw @type='a' @icon={{objectItem}} />
            {{/draggable-object}}
          {{/each}}
        </ul>
      </ul>
    </div>
    <div local-class="actions">
      <ul local-class="jigsaw-action-list">
        {{#each this.model.actionList as  |actionItem|}}
          {{#draggable-object content=(hash item=actionItem type='b')}}
            <Jigsaw @type='b' @icon={{actionItem}} />
          {{/draggable-object}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div local-class="jigsaw-playground">
    <div local-class="jigsaw-board">
      <div local-class="jigsaw-scene">
        <h2>{{this.currentScene.name}}</h2>
        <button {{action this.submit}} local-class="verify-button">
          Verify
        </button>
      </div>
      <div local-class="jigsaw-puzzle">
        {{#draggable-object-target action=(action 'onTarget') pos=1}}
          <div local-class="jigsaw-placeholder">
            {{#if this.placeholder1}}
              <Jigsaw @type='a' @icon={{this.placeholder1}} />
              {{else}}
              Object
            {{/if}}
          </div>
        {{/draggable-object-target}}
        {{#draggable-object-target action=(action 'onTarget') pos=2}}
          <div local-class="jigsaw-placeholder">
            {{#if this.placeholder2}}
              <Jigsaw @type='b' @icon={{this.placeholder2}} />
              {{else}}
              action
            {{/if}}
          </div> 
        {{/draggable-object-target}}
        {{#draggable-object-target action=(action 'onTarget') pos=3}}
          <div local-class="jigsaw-placeholder">
            {{#if this.placeholder3}}
              <Jigsaw @type='a' @icon={{this.placeholder3}} />
              {{else}}
              Object
            {{/if}}
          </div> 
        {{/draggable-object-target}}
      </div>
    </div>
    <div local-class="jigsaw-action-widget">
      <div local-class="jigsaw-action-controls">
        <button local-class="action-left">
          {{svg-jar "chevron-left-a"}}
        </button>
        <button local-class="action-right">
          {{svg-jar "chevron-right-a"}}
        </button>
      </div>
      <div local-class="jigsaw-help-widget">
        Bulb icon
        <div>
          {{this.currentScene.hint}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}